/* 控制栏 */
#side_bar{
   -fx-background-color:#272727;
   -fx-background-radius: 4px 0px 0px 4px;
}

/*#bar_portrait,#bar_portrait:hover,#bar_portrait:pressed{*/
/*    -fx-background-radius: 2px;*/
/*    -fx-background-position: center center;*/
/*    -fx-background-repeat: no-repeat;*/
/*    -fx-background-size: 50px 48px;*/
/*    !*-fx-background-color: white;*!*/
/*    -fx-background-image: url("/fxml/chat/img/head/head.jpg");*/
/*    -fx-cursor: hand;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 2px;*/
/*    -fx-border-color: white;*/
/*}*/

#bar_portrait{
    -fx-border-width: 0;
    /*-fx-background-radius: 2px;*/
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 48px;
    -fx-background-color: white;
    -fx-background-image: url("/fxml/chat/img/head/head.jpg");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: white;
}

#bar_chat{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/chat/img/system/talk.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}


#bar_friend{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/chat/img/system/friends.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}


#bar_setting{
        -fx-background-position: center center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: 30px 30px;
        -fx-background-color: transparent;
        -fx-background-image: url("/fxml/chat/img/system/setting.png");
        -fx-cursor: hand;
        -fx-border-width: 1px;
        -fx-border-radius: 2px;
        -fx-border-color: transparent;
}

/*该设置只能在未点击前有效，可能是因为点击事件重新设置了背景？*/
#bar_chat:hover,#bar_friend:hover,#bar_setting:hover{
    -fx-background-color: #3f3f3f;
}
#bar_chat:pressed,#bar_friend:pressed,#bar_setting:pressed{
     -fx-background-color: #353535;
}
